* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: 'Arya', sans-serif;
}

body {
  background-color: #00BBF9;
}

nav {
  background-color: #00F5D4;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  padding-left: 1rem;
}

.contact {
  padding-left: 2rem;
}

.downloadButton {
  float: right;
  font-size: 1.5em;
  text-align: center;
  border-radius: 0.5rem;
  background-color: transparent;
  color: black;
  border: 0.1rem solid black;
  padding: 0.3rem;
}

.whiteText, h1 {
  color: white;
}

.navContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 1rem;
}

header {
  background-color: #00BBF9;
  height: 100vh;
  padding-top: 20rem;
  margin: 0 auto;
  font-size: 1rem;
  text-align: center;
}

.portfolioButton {
  display: inline-block;
  border-top: 0.2rem solid #00F5D4;
  border-bottom: 0.2rem solid #00F5D4;
  border-radius: 0.5rem;
  margin: 1rem auto;
  padding: 1rem;
  background-color: transparent;
  color: white;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

#anchorToPortfolio {
  scroll-margin-top: 5rem;
}

.outerContainerAboutMe {
  background-color: #00F5D4;
  scroll-margin-top: 5rem;
}

p.descriptionAboutMe {
  width: 96%;
  margin-left: 0;
  margin-right: auto;
  text-align: justify;
}

h2 {
  font-size: 2rem;
}

.blueBackground {
  background-color: #00BBF9;
}

h2.whiteText {
  margin-left: 25%;
}

div.innerContainerAboutMe, div.projectContainer {
  border: 0.2rem solid #00F5D4;
  border-radius: 2rem;
  width: 50%;
  margin: 1rem auto;
}

.innerContainerAboutMe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#photoOfMe {
  width: 17.5rem;
  height: auto;
  border-radius: 1rem;
  margin: 1rem;
}



.projectNumber {
  font-size: 1.5rem;
  margin-left: 1rem;
}

.descriptionAboutMe, p.whiteText {
  font-size: 1.3rem;
  margin: 1rem;
  text-align: justify;
}

.projectPreview {
  float: right;
  width: 17.5rem;
  height: auto;
  border-radius: 1rem;
  margin: 0 1rem;
}

.clearfix::after {
  content: "";
  clear: both;
  display: flex;
}

.liveIcon {
  width: 4rem;
  height: 4rem;
  margin: 1rem;
}

.footerContainer {
  background-color: #00F5D4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  width: 3rem;
  height: 3rem;
  margin: 0.9rem;
}

.copyright {
  border-top: 0.3rem #00F5D4 white;
  background-color: #00BBF9;
  font-size: 1rem;
  text-align: center;
  padding: 0.45rem;
  margin: 0 auto;
}

@media screen and (max-width: 60rem) {
	.innerContainerAboutMe {
		flex-direction: column;
	}
}

@media screen and (max-width: 30rem) {
	.navContainer {
		flex-direction: column;
	}
}