* {
	box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: 'Arya', sans-serif;
}

a {
  text-decoration: none;
  font-size: 1.5rem;
  color: black;
  padding-left: 1rem;
}

.contact {
  padding-left: 2rem;
}

.downloadButton {
  float: right;
  font-size: 1.5em;
  text-align: center;
  border-radius: 0.5rem;
  background-color: transparent;
  color: black;
  border: 0.1rem solid black;
  padding: 0.3rem;
}

nav {
  background-color: #00F5D4;
}

.paddingBottom {
	padding-bottom: 0.3rem;
}

#whiteText {
  color: white;
}

.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 1rem;
}

header {
  background-color: #00BBF9;
  height: 100vh;
  padding-top: 20rem;
  margin: 0 auto;
  font-size: 1rem;
  text-align: center;
}

.portfolioButton {
  font-size: 1.6em;
  border-radius: 0.5rem;
  background-color: transparent;
  color: white;
  border: 0.2rem solid #00F5D4;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
  margin: 0.2rem;
  cursor: pointer;
}

.outerContainerAboutMe {
	background-color: #00F5D4;
}

.innerContainerAboutMe {
	padding: 2rem 40rem;
	display: flex;
    flex-flow: nowrap row;
    justify-content: space-evenly;
    align-items: center;
}

h2 {
	font-size: 2rem;
}

.descriptionAboutMe {
	font-size: 1.3rem;
	text-align: justify;
}

.photoOfMe {
	width: 17.5rem;
	height: auto;
	margin-left: 3rem;
	border-radius: 1rem;
}

.blueBackground {
	background-color: #00BBF9;
}

h2#whiteText {
	margin-left: 40rem;
	margin-top: 0;
	padding-top: 3rem;
}

h3#whiteText {
	margin-left: 40rem;
	margin-top: 0;
	font-size: 1.3rem;
}

.projectPreview {
	width: 17.5rem;
	height: auto;
	margin-left: 40rem;
	border-radius: 1rem;
}

.footerContainer {
  background-color: #00F5D4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
	width: 3rem;
	height: 3rem;
	margin: 0.9rem;
}

.copyright {
  border-top: 0.3rem #00F5D4 white;
  background-color: #00BBF9;
  font-size: 1rem;
  text-align: center;
  padding: 0.45rem;
  margin: 0 auto;
}